section#MessageBox.component.section(
  data-url="/views/message-box"
  data-scripturl="/assets/scripts/message-box.js"
)

  h2.title.is-3 Share something with your friends

  form#MessageBoxForm(name="form")
    .field
      .control
        textarea.textarea.has-fixed-size(
          name="message"
          required
          autofocus
          maxlength="300"
          placeholder="Write your message …"
        )

    .field.is-grouped.is-pulled-right
      .control
        p#MessageBoxCounter.py-2.px-4
      .control
        button.button.is-danger Reset
      .control
        button.button.is-primary Submit
